body{
  margin: 0;
  background-color:#f9f3b9 ;
}

*{
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: #e5cd6c;
  padding: 10px;
  align-items: center;
  box-shadow: 3px 3px 3px black;

  /* border: 3px solid black; */
}

header section{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
nav{
  margin: 20px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  

}

header nav>a{
  color: black;
  text-decoration: none;
  margin: 3px;
  
}

img{
  width: auto;
}
.headerSpace{
  margin: 20px;
}

img{
  width: 150px;
}



section {
  text-align: center; 
  color: #2f1313;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.dog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.dog-card {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: 	#ae6427;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

#alldogs{
  text-align: center;
  font-size: 100px;

}
#welcome{
  text-align: center;
  font-size: 100px;
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
  color: #ae6427;
  text-shadow: 2px 2px 2px black;
  background-color: #e5cd6c;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
  width: fit-content;
  padding: 5px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
}

#puppybowlpic{
  width: 100px;
}


h3{
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    color: #ae6427;
    text-shadow: 1px 1px 1px #e5cd6c;
    text-align: center;
}

#h3text{
  background-color: #e5cd6c;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  width:fit-content;
  padding: 5px;
  font-size: 20px;
}


form{
  border: 2px solid black;
  padding: 20px;
  margin: 50px;

 }